VITE_API_EMOJI_API_KEY=t9898u8omq3c23slaepfgdhwf6kjm63o7324pfvyxhgukn3b
VITE_API=/api/v1
VITE_API_=/
VITE_API_CHAT_SECRET_KEY=2f3c4a1e8d7b9c0a6f5d4e3b2a1908ff0a1b2c3d4e5f67890123456789abcdef

VITE_API=http://localhost:5000/api/v1
VITE_API_=http://localhost:5000